* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: white;
    color: white;
}
.light-theme {
    background: white;
    color: rgb(124, 5, 5);
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(124, 5, 5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    z-index: 1000;
    height: 60px;
}

.logo {
    color: rgb(244, 240, 240);
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: 0.3s;
}

.nav-links a:hover {
    background: white;
    color: rgb(124, 5, 5);
}

/* DROPDOWN */
.dropdown-content {
    display: none;
    position: absolute;
    background: rgb(124, 5, 5);
    color: white;
    top: 40px;
    min-width: 150px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* HERO */
.hero {
    height: 100vh;
    background: url('images/Cars.jpg') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    text-align: center;
    padding-top: 100px; 
    height: calc(100vh - 120px);
}

.hero h1 {
    font-size: 50px;
    color: white;
}

/* BUTTON */
.btn {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    background: rgb(124, 5, 5);
    cursor: pointer;
    transition: 0.3s;
    color: white;
}

.btn:hover {
    background: white;
    color: rgb(124, 5, 5);
}

/* FORM */
.form-box {
    margin-top: 120px;
    text-align: center;
    height: 400px;
    
}

.form-box h1 {
    color: rgb(124, 5, 5);  /* heading */
}

.form-box p {
    color: rgb(124, 5, 5);            /* readable text */
    font-size: 16px;
    height: 400px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 250px;
}

/* FOOTER */
footer {
    background: rgb(124, 5, 5);
    text-align: center;
    padding: 15px;
    color: white;
    height: 60px;
}

/* SCROLL TEXT */
marquee {
    background: rgb(124, 5, 5);;
    color: black;
    padding: 10px;
}

/* RESPONSIVE */
.menu-icon {
    display: none;
}

@media(max-width:768px) {
    .nav-links {
        flex-direction: column;
        display: none;
        position: absolute;
        right: 0;
        top: 60px;
        background: black;
        width: 200px;
    }

    .nav-links.active {
        display: block;
    }

    .menu-icon {
        display: block;
        color: white;
        font-size: 24px;
        cursor: pointer;
    }
}